.choose-block {
    &__padding {
        padding-bottom: 120px;
    }

    &__top-block {
        display: flex;
        flex-direction: column;
        gap: 64px;
        width: 100%;
    }

    &__h2-props {
        letter-spacing: -4px;
    }

    &__holder {
        display: flex;
        flex-direction: column;
    }

    &__filter {
        display: flex;
        gap: 40px;
        width: 100%;
        overflow-x: hidden;
        padding-bottom: 32px;
        border-bottom: 1px solid #F4F4F4;
    }

    &__filter-text {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: -0.5px;
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    &__filter-holder {
        width: 100%;
        overflow-x: auto;
    }

    &__filter-buttons {
        display: flex;
        min-width: 711px;
        gap: 24px;
        align-items: center;
    }

    &__show-all-link {
        margin-left: auto;
    }

    &__bottom-block {
        margin-top: 32px;

    }

    &__slider {
        height: 568px;
    }


}

@include media-down($bp1) {
    .choose-block {
        &__show-all-link {
            display: none;
        }
    }
}

@include media-down($bp2) {

    .choose-block {
        &__slider {
            height: auto;
        }
    }
}

@include media-down($bp3) {

    .choose-block {
        &__padding {
            padding-bottom: 64px;
        }

        &__top-block {
            gap: 24px;
        }

        &__filter {
            flex-direction: column;
            gap: 24px;
        }

        &__bottom-block {
            margin-top: 40px;
        }
    }
}