.button {
    transition: all 0.5s;
    border-radius: 100px;
    font-weight: 500;

    &__text-18px {
        font-size: 18px;
    }

    &__text-16px {
        font-size: 16px;
    }

    &__text-14px {
        font-size: 14px;
    }
    &__text-12px {
        font-size: 12px;
    }
}

.button-green {
    background-color: #17AF26;
    color: #fff;
    border: none;

    &:hover {
        background-color: #12841d;
    }
}

.button-white {
    border: 1px solid #F4F4F4;
    background-color: #fff;

    &:hover {
        background-color: #F2F6F4;
        border-color: #05422C;
        color: #05422C;
    }
    &:focus {
        background-color: #F2F6F4;
        border-color: #05422C;
        color: #05422C;
    }
}
.button-white-noborder {
    background-color: #F3FBF4;
    color: #17AF26;
    border: none;
}

@include media-down($bp2) {
    .button {
        &__text-18px {
            font-size: 16px;
        }

        &__text-16px {
            font-size: 14px;
        }

        &__text-14px {
            font-size: 12px;
        }

    }
}