.welcome-block {
  &_bg {
    background-color: #648A7C;
    background-image: conic-gradient(from 180deg at 50% 50%, rgba(5, 66, 44, 0) -4.67deg, #05422C 299.08deg, rgba(5, 66, 44, 0) 355.33deg, #05422C 659.08deg);
  }

  &_block-normalizer {
    max-width: 1332px;
  }

  &_bg-props {
    position: relative;
  }

  &__main {
    max-height: 720px;
  }

  &__text-holder {
    max-width: 692px;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  &__top-text {
    display: flex;
    flex-direction: column;
  }

  &__separation {
    margin-bottom: 102px;
  }

  &__yellow-text {
    line-height: 24px;
    letter-spacing: 4px;
    margin-bottom: 16px;
  }

  &__big-text {
    margin-bottom: 24px;
    letter-spacing: -4px;
  }

  &__promo-text {
    display: flex;
  }

  &__promo-text-margin {
    margin-bottom: 58px;
  }

  &__promo-text_h3-border {
    border-right: 2px solid #F4F4F4;
    margin-right: 32px;
    padding-right: 32px;
  }

  &__images-holder {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: -4px;
  }

  &__cube {
    position: relative;
  }

  &__cube-img {
    position: absolute;
    top: 0;
  }

  &__left-cube {
    margin-right: -68px;
    z-index: 1;

    &_img {
      transform: translate(25%, -45%);
    }
  }

  &__center-cube {
    z-index: 0;
    margin-right: -123px;

    &_img {
      transform: translate(13%, -50%);
    }
  }

  &__right-cube {
    z-index: 1;

    &_img {
      transform: translate(65%, -25%);
    }
  }
}

.advantages-block {
  &_bg {
    background: #F2F6F4;
  }

  &_block-normalizer {
    max-width: 1332px;
  }

  &__main {
    padding-top: 80px;
    padding-bottom: 104px;
    display: flex;
    gap: 32px;
  }

  &__content-block {
    display: flex;
    gap: 24px;
  }

  &__img {
    padding: 22px;
    border-radius: 100px;
    background-color: #fff;
  }

  &__h3-margin {
    margin-bottom: 16px;
  }

  &__h3-spacing {
    letter-spacing: -0.5px;
  }
}

.green-card {
  border-radius: 16px;
  background: #05422C;
  position: relative;
  overflow: hidden;

  &_presentation {
    padding: 84px 83px;
  }

  &_feedback {
    padding: 40px;
  }


  &__bg-element {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 2;
    position: relative;

    &_presentation {
      text-align: center;
    }

    &_feedback {
      text-align: left;
      gap: 32px;
    }
  }

  &__image {
    z-index: 2;
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__h4-margin {
    margin-top: 24px;
    margin-bottom: 8px;
  }

  &__h4-text {
    font-size: 20px;
  }

  &__text {
    max-width: 216px;
    text-align: center;
    color: #FFFFFF99;

    &_margin {
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__link {
    align-self: center;
  }

  &__h3-text {
    font-size: 32px;
    font-weight: 600;
  }

  &__h3-border {
    padding-bottom: 32px;
    border-bottom: 1px solid #346654;
  }

  &__rate-block {
    &_text-weight {
      font-weight: 300;
    }

    &_rates-holder {
      display: flex;
    }

    &_text {
      margin-bottom: 16px;
      display: block;
    }

    &_stars {
      display: flex;
      gap: 4px;
      padding-right: 24px;
      margin-right: 24px;
      border-right: 1px solid #648A7C;
    }
  }

}

.presentation-block {
  &_padding {
    padding-top: 120px;
    padding-bottom: 136px;
  }

  &__top-block {
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 64px;
  }

  &__h1-limiter {
    max-width: 948px;
  }

  &__h1-spacing {
    letter-spacing: -4px;
  }

  &__buttons-block {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }

  &__buttons-holder {
    min-width: 600px;
  }

  &__bottom-block {
    display: flex;

    &_indentation {
      padding-right: 0px;
      margin-top: 64px;
    }
  }

  &__presentation-slider {
    flex: 2;
    margin-left: 30px;

    &_button {
      height: 36px !important;
      width: 36px !important;
      box-shadow: 0px 6px 16px 0px #0000001F;
      color: #54576D !important;
      background: #fff;
      border-radius: 100px;
      transform: translateY(-150%);

      &:after {
        font-size: 14px !important;
      }
    }
  }



}

.feedback-block {
  &_padding {
    padding-bottom: 160px;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__top-block {
    margin-bottom: 64px;
  }

  &__bottom-block {
    display: flex;
  }

  &__green-card-holder {
    flex: 1;
  }

  &__feedback-slider {
    flex: 2;
    margin-left: 30px;

    &_button {
      height: 36px !important;
      width: 36px !important;
      box-shadow: 0px 6px 16px 0px #0000001F;
      color: #54576D !important;
      background: #fff;
      border-radius: 100px;


      &:after {
        font-size: 14px !important;
      }
    }
  }
}

.weed-block {
  &__top-block {
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 100%;
  }

  &__h2-props {
    letter-spacing: -4px;
  }

  &__holder {
    padding-bottom: 286px;
    display: flex;
    flex-direction: column;
  }

  &__filter {
    display: flex;
    gap: 40px;
    width: 100%;
    overflow-x: hidden;
    padding-bottom: 32px;
    border-bottom: 1px solid #F4F4F4;
  }

  &__filter-text {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.5px;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  &__filter-holder {
    width: 100%;
    overflow-x: auto;
  }

  &__filter-buttons {
    display: flex;
    min-width: 711px;
    gap: 24px;
  }

  &__bottom-block {
    margin-top: 64px;
  }

  .weeb-slide_props {
    min-height: 568px;
  }

}

.help-block {
  &_bg {
    background: #01100B;
  }

  &_props {
    position: relative;
  }

  &__content {
    padding-top: 296px;
    padding-bottom: 112px;
    display: flex;
    flex-direction: column;
    gap: 73px;
    align-items: center;
  }

  &__top-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 968px;
    text-align: center;
    align-items: center;
  }

  &__h2-props {
    letter-spacing: -2px;
  }

  &__top-text-props {
    max-width: 790px;
  }

  &__bottom-block {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr;
  }

  &__content-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    gap: 24px;
  }

  &__img-holder {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 34px;
    position: relative;
    width: 100%;
  }

  &__img-number {
    color: #05422C;
    font-weight: 500;
    padding: 7.5px 14.5px;
    border-radius: 100px;
    background: #F2BC1B;
    position: absolute;
    top: 0;
    left: 30%;
  }

  &__text {
    max-width: 548px;
  }

  &__green-button-margin {
    margin-top: 27px
  }

  &__green-button_second {
    display: none;
  }
}

.ref-block {
  &_props {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  &_relative {
    position: relative;
    width: 100%;

  }

  &__content {
    position: relative;
    padding: 96px 120px;
    background: #05422C;
    background-image: linear-gradient(130deg, #ffc10700 0%, #ffc10700 50%, #ffd64070 100%);
    overflow: hidden;
    z-index: 1;
    border-radius: 24px;
    display: flex;
    align-items: center;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__textblock {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-self: flex-start;
  }

  &__bottom-text {
    display: flex;
    font-size: 32px;
  }

  &__green-button {
    margin-left: auto;
  }
}

.fulladvantages-block {
  &__padding {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  &__content-holder {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  &__top-block {
    max-width: 789px;
  }

  &__article {
    letter-spacing: -4px;
    margin-bottom: 24px;
  }

  &__article-link {
    text-decoration: underline;
  }

  &__bottom-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 32px;
    row-gap: 40px;
  }

  &__card {
    padding: 32px;
    border: 1px solid #CECFD566;
    border-radius: 12px;
  }

  &__card-article {
    margin-bottom: 16px;
  }

  &__card-textblock {
    margin-top: 32px;
  }

  &__card-text {
    font-size: 14px;
  }
}

.choose-block {
  &__padding {
    padding-bottom: 120px;
  }

  &__top-block {
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 100%;
  }

  &__h2-props {
    letter-spacing: -4px;
  }

  &__holder {
    display: flex;
    flex-direction: column;
  }

  &__filter {
    display: flex;
    gap: 40px;
    width: 100%;
    overflow-x: hidden;
    padding-bottom: 32px;
    border-bottom: 1px solid #F4F4F4;
  }

  &__filter-text {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.5px;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  &__filter-holder {
    width: 100%;
    overflow-x: auto;
  }

  &__filter-buttons {
    display: flex;
    min-width: 711px;
    gap: 24px;
    align-items: center;
  }

  &__show-all-link {
    margin-left: auto;
  }

  &__bottom-block {
    margin-top: 32px;

  }

  &__slider {
    height: 568px;
  }


}

.weed-types-block {
  &__props {
    padding-top: 64px;
    padding-bottom: 120px;
    border-top: 1px solid #717378;
    display: flex;
    gap: 32px;
  }

  &__card {
    padding: 32px;
    border: 1px solid #F4F4F4;
    height: fit-content;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__card-img-block {
    background: #F2F6F4;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__card-img-holder {
    position: relative;
  }

  &__add-img {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__text-block {
    max-width: 315px;
  }

  &__article {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -1.5px;
    margin-bottom: 16px;
  }

  &__text {
    font-size: 14px;
  }
}

.weed-education {
  &_bg {
    background: #F4F4F4;
  }

  &__holder {
    padding-top: 120px;
    padding-bottom: 320px;
    display: flex;
    flex-direction: column;
  }

  &__top-block {
    padding-bottom: 32px;
    border-bottom: 1px solid #C8C9CB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__h2-text {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -1.5px;
  }

  &__bottom-block {
    margin-top: 64px;
    display: flex;
    gap: 32px;
    width: 100%;
  }

  &__card {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__image-block {
    border-radius: 8px;
    height: 240px;
    overflow: hidden;
    margin-bottom: 24px;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
  }
  &__date-text {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 8px;
    display: block;
  }
  &__article {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.5px;
    margin-bottom: 8px;
  }
  &__text {
    display: block;
    margin-bottom: 32px;
  }
}


@include media-down($bp1) {
  .welcome-block {
    &__images-holder {
      transform: scale(0.7);
      margin-bottom: -70px;
      margin-right: -102px;
    }
  }

  .choose-block {
    &__show-all-link {
      display: none;
    }
  }
}

@include media-down($bp2) {
  .welcome-block {
    &__text-holder {
      padding-top: 56px;
      padding-bottom: 56px;
    }
  }

  .advantages-block {
    &__main {
      padding-top: 64px;
      padding-bottom: 64px;
      flex-direction: column;
    }

    &__img {
      padding: 14px;
      height: 100px;
      width: 100px;
    }

    &__h3-margin {
      margin-bottom: 12px;
    }
  }

  .weed-block {
    .h5-text {
      font-size: 16px;
    }
  }

  .fulladvantages-block {
    &__bottom-block {
      grid-template-columns: 1fr 1fr;
    }
  }

  .choose-block {
    &__slider {
      height: auto;
    }
  }


}

@include media-down($bp3) {
  .welcome-block {
    &_bg {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__text-holder {
      padding-bottom: 0px;
    }

    &__yellow-text {
      margin-bottom: 12px;
    }

    &__big-text {
      margin-bottom: 16px;
    }

    &__separation {
      margin-bottom: 40px;
    }

    &__promo-text-margin {
      margin-bottom: 44px;
    }

    &__images-holder {
      position: relative;
      transform: scale(0.45);
      margin-bottom: -124px;
      margin-right: 0px;

    }
  }

  .green-card {
    &_presentation {
      flex: none;
      padding-top: 28.5px;
      padding-bottom: 28.5px;
      padding-left: 0;
      padding-right: 0;
    }

    &_feedback {
      padding: 24px;
    }


    &__image {
      padding-left: 95.5px;
      padding-right: 95.5px;
    }
  }

  .presentation-block {
    &_padding {
      padding-top: 64px;
      padding-bottom: 64px;
    }

    &__top-block {
      gap: 32px;
    }

    &__bottom-block {
      flex-direction: column;

      &_indentation {
        padding-right: 20px;
        margin-top: 40px;
      }
    }

    &__presentation-slider {
      flex: none;
      margin-left: 0;
      margin-top: 32px;
    }


  }

  .feedback-block {
    &_padding {
      padding-bottom: 54px;
    }

    &__top-block {
      margin-bottom: 32px;
    }

    &__bottom-block {
      flex-direction: column;
    }

    &__feedback-slider {
      flex: none;
      margin-top: 32px;
      margin-left: 0;
    }
  }

  .weed-block {
    &__holder {
      padding-bottom: 213px;
    }

    &__top-block {
      gap: 24px;
    }

    &__filter {
      flex-direction: column;
      gap: 24px;
    }

    &__bottom-block {
      margin-top: 40px;
    }
  }

  .help-block {
    &__content {
      padding-top: 200px;
      padding-bottom: 64px;
      gap: 40px;
    }

    &__top-block {
      gap: 16px;
    }

    &__top-text-props {
      opacity: 0.42;
    }

    &__bottom-block {
      gap: 24px;
    }

    &__content-block {
      gap: 16px;
    }

    &__img-holder {
      gap: 16px;
    }

    &__img {
      height: 64px;
      width: 64px;
    }

    &__img-number {
      padding: 3px 10px;
      left: 10%;
    }

    &__green-button-margin {
      margin-top: 20px
    }

    &__green-button_first {
      display: none;
    }

    &__green-button_second {
      display: block;
    }
  }

  .ref-block {
    &__content {
      padding: 40px 24px;
      background-image: linear-gradient(130deg, #ffc10700 0%, #ffc10700 50%, #ffd6401f 100%);
      flex-direction: column;
      gap: 40px;
      align-items: flex-start;
    }

    &__img {
      transform: translate(-50%, 0%);
    }

    &__textblock {
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-self: flex-start;
    }

    &__bottom-text {
      font-size: 20px;
    }

    &__green-button {
      margin: 0;
    }
  }

  .fulladvantages-block {
    &__padding {
      padding-top: 64px;
      padding-bottom: 64px;
    }

    &__content-holder {
      gap: 32px;
    }

    &__article {
      letter-spacing: -1.5px;
      margin-bottom: 16px;
    }

    &__bottom-block {
      grid-template-columns: 1fr;
      row-gap: 24px;
    }

    &__card {
      padding: 16px;
    }

    &__card-textblock {
      margin-top: 16px;
    }

    &__card-text {
      font-size: 12px;
    }

  }

  .choose-block {
    &__padding {
      padding-bottom: 64px;
    }

    &__top-block {
      gap: 24px;
    }

    &__filter {
      flex-direction: column;
      gap: 24px;
    }

    &__bottom-block {
      margin-top: 40px;
    }
  }

  .weed-types-block {
    &__props {
      padding-bottom: 64px;
      flex-direction: column;
      gap: 24px;
    }

    &__card {
      padding: 24px;
      gap: 24px;
    }

    &__card-img-block {
      height: 164px;
    }

    &__text-block {
      max-width: none;
    }

    &__article {
      font-size: 24px;
      letter-spacing: -0.5px;
    }
  }
  .weed-education {
    &__holder {
      padding-top: 64px;
      padding-bottom: 270px;
    }
  
    &__top-block {
      padding-bottom: 24px;
    }
  
    &__h2-text {
      font-size: 24px;
    }
  
    &__bottom-block {
      margin-top: 32px;
      gap: 24px;
      flex-direction: column;
    }
  }
}

@include media-down($bp4) {
  .welcome-block {}
}